@using Personel.Models.Entity
@model List<tbl_personel_ozluk>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container" style="width:1000px">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 style="text-align:left;">Personel Özlük Bilgileri</h4>
                <h4 style="text-align:right; font-size:15px;">@ViewBag.pKod - @ViewBag.pAd @ViewBag.pSoyad</h4>
            </div>
            <div class="panel-body">
                <div class="col-sm-10">
                    <div class="form-horizontal">
                        <label class="control-label col-sm-4">Firma :</label>
                        <label class="control-label"> @ViewBag.pFirma</label>
                        <br />
                        <label class="control-label col-sm-4">SGK Kayıt Yeri :</label>
                        <label class="control-label"> @ViewBag.pSgkYer</label>
                        <br />
                    </div>
                </div>
                <div class="col-sm-2">
                    @if (ViewBag.pCinsiyet == "ERKEK")
                    {
                        <img src="~/images/person_100px.png" />
                    }
                    else if (ViewBag.pCinsiyet == "KADIN")
                    {
                        <img src="~/images/Person Female Skin Type 4_100px.png" />
                    }
                </div>
                <div style="margin-top:25px;">
                    <table style="width:auto;" class="table table-bordered">
                        <tr class="warning">
                            <th style="width:70px;">Id</th>
                            <th style="width:300px;">Belge Adı</th>
                            <th style="width:50px;">Var/Yok</th>
                            <th style="width:400px;">Göster</th>
                        </tr>
                        <tbody>
                            @foreach (var ozluk in Model)
                            {
                                <tr>
                                    <td>@ozluk.ozluk_id</td>
                                    <td>@ozluk.tbl_ozluk_belgeler.belge_adi</td>
                                    <td>@ozluk.durum</td>
                                    <td><a href="@Url.Action("Sil", "IzinGiris")/@ozluk.dosya_adi" class="btn btn-xs btn-default">Göster</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary ekle" data-target="@Url.Action("ComboboxGetir", "PersonelOzluk")/@ViewBag.pId">Ekle</a>
                    <a href="@Url.Action("Index", "PersonelGiris")" class="btn btn-success">Personel Listesi</a>
                </div>

                <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="myModalE" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="myModalG" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @*<div class="modal-header" style="background-color:aqua">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">İzin Giriş</h4>
                        </div>*@
                                <div class="modal-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Panel Premiy -->
    </div>
    <!-- Panel group -->
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("body").on("click", ".ekle", function () {
                var url = $(this).data("target");
                $.post(url, function (data) { })
                    .done(function (data) {
                        $("#myModalE .modal-body").html(data);
                        $("#myModalE").modal("show");
                    })
                    .fail(function () {
                        $("#myModalE .modal-body").text("Hata!!");
                        $("#myModalE").modal("show");
                    })
            });
        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("body").on("click", ".guncelle", function () {
                var url = $(this).data("target");
                $.post(url, function (data) { })
                    .done(function (data) {
                        $("#myModalG .modal-body").html(data);
                        $("#myModalG").modal("show");
                    })
                    .fail(function () {
                        $("#myModalG .modal-body").text("Hata!!");
                        $("#myModalG").modal("show");
                    })
            });
        });

    </script>
}

