@using Personel.Models.Entity
@model List<tbl_gorevler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Görev Listesi</h2>
<br />
<table style="margin-top:15px;" class="table table-bordered">
    <tr>
        <th>GÖREV ID</th>
        <th>GÖREV ADI</th>
        <th>FİRMA ADI</th>
        <th>BÖLGE ADI</th>
        <th style="width:50px"></th>
    </tr>
    <tbody>
        @foreach (var grv in Model)
        {
        <tr>
            <td>@grv.gorev_id</td>
            <td>@grv.gorev_adi</td>
            <td>@grv.tbl_firmalar.firma_adi</td>
            <td>@grv.tbl_bolgeler.bolge_adi</td>
            <td style="width:auto"><a href="@Url.Action("GorevGetir","Gorev")/@grv.gorev_id" class="btn btn-success" style="width:100px">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("GorevEkle","Gorev")" class="btn btn-primary" style="width:100px">Görev Ekle</a>

