@model Personel.Models.Entity.tbl_sgk_kayit_yeri

<h2>SGK Kayıt Yeri Bilgileri</h2>
<br />
@using (Html.BeginForm("SgkKayitYeriGuncelle", "SgkKayitYeri", FormMethod.Post))
{
    <div class="form-inline">
        @Html.LabelFor(s => s.sgk_kayit_yeri_id, "SGK KAYIT YERİ ID", new { @class = "col-sm-2" })
        @Html.TextBoxFor(s => s.sgk_kayit_yeri_id, new { @class = "form-control", @style = "width:100px;" })
        <br /><br />
        @Html.LabelFor(s => s.sgk_kayit_yeri_adi, "SGK KAYIT YERİ ADI", new { @class = "col-sm-2" })
        @Html.TextBoxFor(s => s.sgk_kayit_yeri_adi, new { @class = "form-control", @style = "width:250px;" })
        <br /><br />
        @Html.LabelFor(s => s.firma_id, "FİRMA ADI", new { @class = "col-sm-2" })
        @Html.DropDownListFor(f => f.tbl_firmalar.firma_id, (List<SelectListItem>)ViewBag.sgk, new { @class = "form-control", @style = "width:200px;" })
    </div>
    <br />
    <div class="col-sm-2" style="margin-top:10px;">
        <button class="btn btn-success" style="width:100px;">Güncelle</button>
    </div>
}