@model Personel.Models.Entity.tbl_firmalar
@{
    ViewBag.Title = "FirmaGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Firma Bilgileri</h2>
<br />
@using (Html.BeginForm("Guncelle", "Firma", FormMethod.Post))
{
    <div class="form-inline">
        @Html.LabelFor(f => f.firma_id, "FİRMA ID", new { @class = "col-sm-2" })
        @Html.TextBoxFor(f => f.firma_id, new { @class = "form-control", @style = "width:100px;" })
        <br /><br />
        @Html.LabelFor(f => f.firma_adi, "FİRMA ADI", new { @class = "col-sm-2" })
        @Html.TextBoxFor(f => f.firma_adi, new { @class = "form-control", @style = "width:200px;" })
        <br /><br />
        @Html.LabelFor(f => f.firma_unvani, "FİRMA ÜNVANI", new { @class = "col-sm-2" })
        @Html.TextBoxFor(f => f.firma_unvani, new { @class = "form-control", @style = "width:700px;" })
    </div>
    <br />
    <div class="col-sm-2" style="margin-top:10px;">
        <button class="btn btn-success" style="width:100px;">Güncelle</button>
    </div>
}